n8n/workflows/job-discovery-pipeline-v3.json
{
  "name": "Job Discovery & Tailoring Pipeline v3",
  "active": false,
  "nodes": [
    {
      "id": "schedule-trigger-v3",
      "name": "Schedule Trigger v3",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "load-config-v3",
      "name": "Load Config v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "jsCode": "// Strict v3 env contract preflight. Fail fast with missing ENV NAMES only.\nconst config = {\n  appUrl: String(process.env.APP_URL || '').trim(),\n  webhookSecret: String(process.env.N8N_WEBHOOK_SECRET || '').trim(),\n  anthropicApiKey: String(process.env.ANTHROPIC_API_KEY || '').trim(),\n  adzunaAppId: String(process.env.ADZUNA_APP_ID || '').trim(),\n  adzunaAppKey: String(process.env.ADZUNA_APP_KEY || '').trim(),\n  jsearchApiKey: String(process.env.JSEARCH_API_KEY || '').trim(),\n  joobleApiKey: String(process.env.JOOBLE_API_KEY || '').trim(),\n  reedApiKey: String(process.env.REED_API_KEY || '').trim(),\n  v3CanaryUserIds: String(process.env.V3_CANARY_USER_IDS || '').trim(),\n  v3CanarySampleRate: String(process.env.V3_CANARY_SAMPLE_RATE || '0').trim(),\n  v3JobCapPerUser: String(process.env.V3_JOB_CAP_PER_USER || '').trim(),\n  v3TailorCapPerUser: String(process.env.V3_TAILOR_CAP_PER_USER || '').trim(),\n  v3LlmPaceMs: String(process.env.V3_LLM_PACE_MS || '').trim(),\n  v3MaxRetries: String(process.env.V3_MAX_RETRIES || '').trim(),\n  v3RetryBaseMs: String(process.env.V3_RETRY_BASE_MS || '').trim(),\n  v3RetryCapMs: String(process.env.V3_RETRY_CAP_MS || '').trim()\n};\n\nconst required = {\n  APP_URL: config.appUrl,\n  N8N_WEBHOOK_SECRET: config.webhookSecret,\n  ANTHROPIC_API_KEY: config.anthropicApiKey,\n  ADZUNA_APP_ID: config.adzunaAppId,\n  ADZUNA_APP_KEY: config.adzunaAppKey,\n  JSEARCH_API_KEY: config.jsearchApiKey,\n  JOOBLE_API_KEY: config.joobleApiKey,\n  REED_API_KEY: config.reedApiKey,\n  V3_JOB_CAP_PER_USER: config.v3JobCapPerUser,\n  V3_TAILOR_CAP_PER_USER: config.v3TailorCapPerUser,\n  V3_LLM_PACE_MS: config.v3LlmPaceMs,\n  V3_MAX_RETRIES: config.v3MaxRetries,\n  V3_RETRY_BASE_MS: config.v3RetryBaseMs,\n  V3_RETRY_CAP_MS: config.v3RetryCapMs\n};\n\nconst missing = Object.entries(required)\n  .filter(([_, value]) => !String(value || '').trim())\n  .map(([name]) => name);\n\nif (missing.length > 0) {\n  throw new Error('MISSING_ENV_NAMES:' + missing.join(','));\n}\n\nreturn [{\n  json: {\n    config: {\n      ...config,\n      v3CanarySampleRate: Number(config.v3CanarySampleRate || 0),\n      v3JobCapPerUser: Number(config.v3JobCapPerUser),\n      v3TailorCapPerUser: Number(config.v3TailorCapPerUser),\n      v3LlmPaceMs: Number(config.v3LlmPaceMs),\n      v3MaxRetries: Number(config.v3MaxRetries),\n      v3RetryBaseMs: Number(config.v3RetryBaseMs),\n      v3RetryCapMs: Number(config.v3RetryCapMs)\n    }\n  }\n}];"
      }
    },
    {
      "id": "jitter-v3",
      "name": "Random Jitter Wait v3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 21) }}",
        "unit": "minutes"
      }
    },
    {
      "id": "run-discovery-v3",
      "name": "Run Discovery Pipeline v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\nconst config = input.config || {};\nconst runId = 'disc_v3_' + String($execution.id || Date.now());\n\nfunction sleep(ms) {\n  return new Promise((resolve) => setTimeout(resolve, ms));\n}\n\nfunction parseJsonObject(text) {\n  const raw = String(text || '');\n  const start = raw.indexOf('{');\n  const end = raw.lastIndexOf('}');\n  if (start < 0 || end <= start) return null;\n  try {\n    return JSON.parse(raw.slice(start, end + 1));\n  } catch {\n    return null;\n  }\n}\n\nfunction parseJsonArray(text) {\n  const raw = String(text || '');\n  const start = raw.indexOf('[');\n  const end = raw.lastIndexOf(']');\n  if (start < 0 || end <= start) return null;\n  try {\n    const parsed = JSON.parse(raw.slice(start, end + 1));\n    return Array.isArray(parsed) ? parsed : null;\n  } catch {\n    return null;\n  }\n}\n\nfunction slotIdForNow() {\n  const now = new Date();\n  const slotHour = Math.floor(now.getUTCHours() / 4) * 4;\n  const slot = new Date(Date.UTC(\n    now.getUTCFullYear(),\n    now.getUTCMonth(),\n    now.getUTCDate(),\n    slotHour,\n    0,\n    0,\n    0\n  ));\n  return slot.toISOString();\n}\n\nfunction parseCsv(raw) {\n  return String(raw || '').split(',').map((v) => v.trim()).filter(Boolean);\n}\n\nfunction sampleRate(raw) {\n  const n = Number(raw);\n  if (!Number.isFinite(n)) return 0;\n  if (n >= 0 && n <= 1) return n;\n  if (n > 1 && n <= 100) return n / 100;\n  return 0;\n}\n\nfunction hashBucket(text) {\n  let h = 0;\n  const s = String(text || '');\n  for (let i = 0; i < s.length; i += 1) {\n    h = (h * 31 + s.charCodeAt(i)) >>> 0;\n  }\n  return h / 4294967296;\n}\n\nfunction isCanary(userId) {\n  const allow = new Set(parseCsv(config.v3CanaryUserIds));\n  if (allow.has(userId)) return true;\n  const rate = sampleRate(config.v3CanarySampleRate);\n  if (rate <= 0) return false;\n  if (rate >= 1) return true;\n  return hashBucket('disc-v3:' + userId) < rate;\n}\n\nfunction retryAfterMs(headers) {\n  const raw = headers && typeof headers.get === 'function' ? String(headers.get('retry-after') || '').trim() : '';\n  if (!raw) return null;\n  const n = Number(raw);\n  if (Number.isFinite(n) && n >= 0) return Math.floor(n * 1000);\n  const ts = Date.parse(raw);\n  if (Number.isNaN(ts)) return null;\n  const d = ts - Date.now();\n  return d > 0 ? d : 0;\n}\n\nfunction shouldRetry(status) {\n  if (status === 429 || status === 529) return true;\n  return status >= 500 && status <= 599;\n}\n\nasync function withRetry(fn, meta) {\n  const maxRetries = Math.max(0, Number(config.v3MaxRetries || 0));\n  const base = Math.max(1, Number(config.v3RetryBaseMs || 250));\n  const cap = Math.max(base, Number(config.v3RetryCapMs || 5000));\n  let attempt = 0;\n  let repeated429 = false;\n\n  while (attempt <= maxRetries) {\n    attempt += 1;\n    try {\n      const value = await fn();\n      return { value, repeated429, attempts: attempt };\n    } catch (error) {\n      const status = Number(error && error.status ? error.status : 0);\n      if (status === 429) repeated429 = true;\n      const retriable = shouldRetry(status);\n      if (!retriable || attempt > maxRetries) {\n        const reason = retriable\n          ? 'MAX_RETRIES_REACHED_' + String(status || 'NETWORK')\n          : 'NON_RETRIABLE_' + String(status || 'NETWORK');\n        const wrapped = new Error(reason);\n        wrapped.status = status;\n        wrapped.stage = meta && meta.stage ? meta.stage : 'unknown';\n        wrapped.userId = meta && meta.userId ? meta.userId : null;\n        wrapped.repeated429 = repeated429;\n        throw wrapped;\n      }\n      const retryAfter = Number(error && error.retryAfterMs ? error.retryAfterMs : 0) || 0;\n      const exp = Math.min(cap, base * Math.pow(2, attempt - 1));\n      const jitter = Math.floor(Math.random() * Math.max(50, Math.floor(base / 2)));\n      await sleep(Math.max(retryAfter, exp + jitter));\n    }\n  }\n\n  throw new Error('MAX_RETRIES_EXITED_UNEXPECTEDLY');\n}\n\nasync function appWebhook(type, data, extraHeaders = {}, meta = {}) {\n  const url = String(config.appUrl || '').replace(//$/, '') + '/api/webhooks/n8n';\n  return withRetry(async () => {\n    const resp = await fetch(url, {\n      method: 'POST',\n      headers: {\n        'content-type': 'application/json',\n        'x-webhook-secret': config.webhookSecret,\n        'x-run-id': runId,\n        ...extraHeaders\n      },\n      body: JSON.stringify({ type, runId, data })\n    });\n    if (!resp.ok) {\n      const err = new Error('APP_WEBHOOK_' + type + '_FAILED');\n      err.status = resp.status;\n      err.retryAfterMs = retryAfterMs(resp.headers);\n      throw err;\n    }\n    try {\n      return await resp.json();\n    } catch {\n      return {};\n    }\n  }, meta);\n}\n\nasync function anthropic(payload, meta) {\n  return withRetry(async () => {\n    const resp = await fetch('https://api.anthropic.com/v1/messages', {\n      method: 'POST',\n      headers: {\n        'x-api-key': config.anthropicApiKey,\n        'anthropic-version': '2023-06-01',\n        'content-type': 'application/json'\n      },\n      body: JSON.stringify(payload)\n    });\n    if (!resp.ok) {\n      const err = new Error('ANTHROPIC_FAILED');\n      err.status = resp.status;\n      err.retryAfterMs = retryAfterMs(resp.headers);\n      throw err;\n    }\n    return resp.json();\n  }, meta);\n}\n\nasync function emitWorkflowError(stage, reasonCode, payload, userId) {\n  const url = String(config.appUrl || '').replace(//$/, '') + '/api/webhooks/n8n';\n  await fetch(url, {\n    method: 'POST',\n    headers: {\n      'content-type': 'application/json',\n      'x-webhook-secret': config.webhookSecret,\n      'x-run-id': runId\n    },\n    body: JSON.stringify({\n      type: 'workflow_error',\n      runId,\n      data: {\n        workflowId: 'job-discovery-pipeline-v3',\n        nodeName: stage,\n        errorType: reasonCode,\n        message: stage + ':' + reasonCode,\n        payload: payload,\n        userId: userId || undefined\n      }\n    })\n  }).catch(() => null);\n}\n\nconst slotId = slotIdForNow();\nlet lockId = null;\n\ntry {\n  const acquire = await appWebhook('automation_lock_acquire', {\n    runId,\n    workflow: 'discovery_v3',\n    slotId,\n    ttlSeconds: 4 * 60 * 60\n  }, {}, { stage: 'lock_acquire' });\n\n  if (!acquire || !acquire.acquired) {\n    return [{ json: { status: 'skipped_lock_not_acquired', runId, slotId } }];\n  }\n  lockId = acquire.lockId;\n\n  const usersPayload = await appWebhook('fetch_active_users', { runId }, {}, { stage: 'fetch_active_users' });\n  const users = Array.isArray(usersPayload && usersPayload.users) ? usersPayload.users : [];\n  const canaryUsers = users.filter((u) => u && u.id && isCanary(String(u.id)));\n\n  const summary = {\n    status: 'ok',\n    runId,\n    slotId,\n    usersSeen: users.length,\n    usersCanary: canaryUsers.length,\n    usersProcessed: 0,\n    usersFailed: 0,\n    persistedApplications: 0\n  };\n\n  for (const user of canaryUsers) {\n    const userId = String(user.id || '').trim();\n    if (!userId) continue;\n\n    try {\n      const jobsPayload = await appWebhook(\n        'fetch_jobs_for_user',\n        {\n          user: {\n            userId,\n            targetTitles: Array.isArray(user.targetTitles) ? user.targetTitles : [],\n            locations: Array.isArray(user.locations) ? user.locations : [],\n            remotePreference: user.remotePreference || 'any',\n            masterCvText: String(user.masterCvText || ''),\n            subscriptionStatus: String(user.subscriptionStatus || 'free'),\n            creditsRemaining: Number(user.creditsRemaining || 0)\n          },\n          sourceConfig: {\n            adzunaAppId: config.adzunaAppId,\n            adzunaAppKey: config.adzunaAppKey,\n            jsearchApiKey: config.jsearchApiKey,\n            joobleApiKey: config.joobleApiKey,\n            reedApiKey: config.reedApiKey\n          }\n        },\n        {},\n        { stage: 'fetch_jobs_for_user', userId }\n      );\n\n      const jobs = Array.isArray(jobsPayload && jobsPayload.jobs) ? jobsPayload.jobs : [];\n      const dedupe = new Set();\n      const normalized = [];\n      for (const job of jobs) {\n        if (!job || typeof job !== 'object') continue;\n        const title = String(job.title || '').trim();\n        const description = String(job.description || '').trim();\n        const source = String(job.source || 'manual').trim() || 'manual';\n        const externalId = String(job.externalId || job.url || '').trim();\n        if (!title || !description || !externalId) continue;\n        const key = (source + ':' + externalId).toLowerCase();\n        if (dedupe.has(key)) continue;\n        dedupe.add(key);\n        normalized.push({\n          externalId,\n          title,\n          company: String(job.company || 'Unknown Company').trim() || 'Unknown Company',\n          location: String(job.location || 'Not specified').trim() || 'Not specified',\n          description,\n          source,\n          url: String(job.url || '').trim(),\n          salary: job.salary || null,\n          postedAt: job.postedAt || null,\n          userId,\n          masterCvText: String(user.masterCvText || '')\n        });\n      }\n\n      const capped = normalized.slice(0, Math.max(0, Number(config.v3JobCapPerUser || 0)));\n      if (capped.length === 0) {\n        summary.usersProcessed += 1;\n        continue;\n      }\n\n      const scoringPrompt = [\n        'Return ONLY a JSON array:',\n        '[{\"idx\":0,\"compatibility_score\":0-100,\"ats_keywords\":[],\"matching_strengths\":[],\"gaps\":[],\"recommendation\":\"apply|stretch|skip\"}]',\n        'Candidate CV:',\n        String(user.masterCvText || '').slice(0, 7000),\n        'Jobs:',\n        JSON.stringify(capped.map((job, idx) => ({ idx, title: job.title, company: job.company, description: job.description.slice(0, 2200) })))\n      ].join('\n');\n\n      let scoredRows = null;\n      const scoringPrimary = await anthropic({\n        model: 'claude-3-5-haiku-20241022',\n        max_tokens: 1400,\n        temperature: 0,\n        messages: [{ role: 'user', content: scoringPrompt }]\n      }, { stage: 'score_batch_primary', userId });\n      const scoringPrimaryText = scoringPrimary && scoringPrimary.content && scoringPrimary.content[0] ? scoringPrimary.content[0].text || '' : '';\n      scoredRows = parseJsonArray(scoringPrimaryText);\n\n      if (!Array.isArray(scoredRows)) {\n        const scoringFallback = await anthropic({\n          model: 'claude-sonnet-4-20250514',\n          max_tokens: 1800,\n          temperature: 0,\n          messages: [{ role: 'user', content: scoringPrompt }]\n        }, { stage: 'score_batch_fallback', userId });\n        const scoringFallbackText = scoringFallback && scoringFallback.content && scoringFallback.content[0] ? scoringFallback.content[0].text || '' : '';\n        scoredRows = parseJsonArray(scoringFallbackText);\n      }\n\n      if (!Array.isArray(scoredRows)) {\n        throw new Error('SCORING_PARSE_FAILURE');\n      }\n\n      const scoreByIdx = new Map();\n      for (const row of scoredRows) {\n        if (!row || typeof row !== 'object') continue;\n        const idx = Number(row.idx);\n        if (!Number.isInteger(idx)) continue;\n        scoreByIdx.set(idx, {\n          compatibilityScore: Number(row.compatibility_score || 0),\n          atsKeywords: Array.isArray(row.ats_keywords) ? row.ats_keywords.slice(0, 12) : [],\n          matchingStrengths: Array.isArray(row.matching_strengths) ? row.matching_strengths.slice(0, 6) : [],\n          gaps: Array.isArray(row.gaps) ? row.gaps.slice(0, 6) : [],\n          recommendation: String(row.recommendation || 'skip')\n        });\n      }\n\n      const scoredJobs = capped.map((job, idx) => {\n        const score = scoreByIdx.get(idx) || {\n          compatibilityScore: 0,\n          atsKeywords: [],\n          matchingStrengths: [],\n          gaps: [],\n          recommendation: 'skip'\n        };\n        return {\n          ...job,\n          compatibilityScore: Math.max(0, Math.min(100, Number(score.compatibilityScore || 0))),\n          atsKeywords: score.atsKeywords,\n          matchingStrengths: score.matchingStrengths,\n          gaps: score.gaps,\n          recommendation: score.recommendation\n        };\n      });\n\n      const threshold = 70;\n      const tailorCap = Math.max(0, Number(config.v3TailorCapPerUser || 0));\n      const candidates = scoredJobs.filter((j) => Number(j.compatibilityScore || 0) >= threshold).slice(0, tailorCap);\n      const candidateSet = new Set(candidates.map((j) => (j.source + ':' + j.externalId).toLowerCase()));\n      const outputApplications = [];\n\n      for (const job of scoredJobs) {\n        const key = (job.source + ':' + job.externalId).toLowerCase();\n        if (!candidateSet.has(key)) {\n          outputApplications.push({ ...job, tailoredCvMarkdown: null, coverLetterMarkdown: null, status: 'discovered' });\n          continue;\n        }\n\n        await sleep(Math.max(0, Number(config.v3LlmPaceMs || 0)));\n\n        const tailorPrompt = [\n          'Return ONLY JSON:',\n          '{\"tailored_cv_markdown\":\"...\",\"motivation_letter_markdown\":\"...\"}',\n          'Never fabricate candidate facts.',\n          'ATS keywords:',\n          JSON.stringify(job.atsKeywords || []),\n          'Job:',\n          String(job.title || '') + ' at ' + String(job.company || ''),\n          String(job.description || '').slice(0, 3500),\n          'Candidate CV:',\n          String(user.masterCvText || '').slice(0, 7000)\n        ].join('\n');\n\n        let tailorResp = null;\n        let fallback429 = false;\n        try {\n          tailorResp = await anthropic({\n            model: 'claude-sonnet-4-20250514',\n            max_tokens: 2600,\n            temperature: 0.1,\n            messages: [{ role: 'user', content: tailorPrompt }]\n          }, { stage: 'tailor_primary', userId });\n        } catch (error) {\n          fallback429 = Boolean(error && error.repeated429);\n          if (!fallback429) throw error;\n        }\n\n        if (!tailorResp && fallback429) {\n          tailorResp = await anthropic({\n            model: 'claude-3-7-sonnet-20250219',\n            max_tokens: 2600,\n            temperature: 0.1,\n            messages: [{ role: 'user', content: tailorPrompt }]\n          }, { stage: 'tailor_fallback_429', userId });\n        }\n\n        const tailorText = tailorResp && tailorResp.content && tailorResp.content[0] ? tailorResp.content[0].text || '' : '';\n        const tailored = parseJsonObject(tailorText);\n        if (!tailored || typeof tailored !== 'object') {\n          throw new Error('TAILORING_PARSE_FAILURE');\n        }\n\n        outputApplications.push({\n          ...job,\n          tailoredCvMarkdown: String(tailored.tailored_cv_markdown || ''),\n          coverLetterMarkdown: String(tailored.motivation_letter_markdown || ''),\n          status: 'tailored'\n        });\n      }\n\n      const idempotencyKey = 'disc_v3:' + slotId + ':' + userId;\n      await appWebhook(\n        'new_applications',\n        { userId, applications: outputApplications },\n        { 'x-idempotency-key': idempotencyKey },\n        { stage: 'persist_new_applications', userId }\n      ).catch(async (error) => {\n        await emitWorkflowError('persist_new_applications', 'PERSISTENCE_FAILED', {\n          runId,\n          slotId,\n          userId,\n          reason: String(error && error.message ? error.message : error)\n        }, userId);\n        throw new Error('PERSISTENCE_FAILED');\n      });\n\n      summary.usersProcessed += 1;\n      summary.persistedApplications += outputApplications.length;\n    } catch (error) {\n      summary.usersFailed += 1;\n      const reasonCode = String(error && error.message ? error.message : 'USER_PIPELINE_FAILED');\n      await emitWorkflowError('user_pipeline', reasonCode, { runId, slotId, userId, reasonCode }, userId);\n      if (reasonCode === 'PERSISTENCE_FAILED') {\n        throw error;\n      }\n    }\n  }\n\n  return [{ json: summary }];\n} catch (error) {\n  const reasonCode = String(error && error.message ? error.message : 'DISCOVERY_V3_FAILED');\n  await emitWorkflowError('pipeline', reasonCode, { runId, slotId, reasonCode }, null);\n  throw error;\n} finally {\n  if (lockId) {\n    await appWebhook('automation_lock_release', { runId, lockId }, {}, { stage: 'lock_release' }).catch(() => null);\n  }\n}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger v3": {
      "main": [
        [
          {
            "node": "Load Config v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Config v3": {
      "main": [
        [
          {
            "node": "Random Jitter Wait v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Jitter Wait v3": {
      "main": [
        [
          {
            "node": "Run Discovery Pipeline v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "pinData": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionCounter": 1,
  "activeVersion": null,
  "activeVersionId": null,
  "versionId": null,
  "id": null,
  "createdAt": null,
  "updatedAt": null,
  "isArchived": false,
  "description": "Additive v3 discovery workflow with lock, idempotency, canary routing, batched scoring, and paced sequential tailoring.",
  "shared": [],
  "meta": null
}
