n8n/workflows/job-discovery-pipeline-v3.json
{
  "name": "Job Discovery & Tailoring Pipeline v3",
  "active": false,
  "nodes": [
    {
      "id": "schedule-trigger-v3",
      "name": "Schedule Trigger v3",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "load-config-v3",
      "name": "Load Config v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "jsCode": "// Strict v3 env contract preflight. Fail fast with missing ENV NAMES only.\nconst config = {\n  appUrl: String($env.APP_URL || '').trim(),\n  webhookSecret: String($env.N8N_WEBHOOK_SECRET || '').trim(),\n  anthropicApiKey: String($env.ANTHROPIC_API_KEY || '').trim(),\n  adzunaAppId: String($env.ADZUNA_APP_ID || '').trim(),\n  adzunaAppKey: String($env.ADZUNA_APP_KEY || '').trim(),\n  jsearchApiKey: String($env.JSEARCH_API_KEY || '').trim(),\n  joobleApiKey: String($env.JOOBLE_API_KEY || '').trim(),\n  reedApiKey: String($env.REED_API_KEY || '').trim(),\n  v3CanaryUserIds: String($env.V3_CANARY_USER_IDS || '').trim(),\n  v3CanarySampleRate: String($env.V3_CANARY_SAMPLE_RATE || '0').trim(),\n  v3JobCapPerUser: String($env.V3_JOB_CAP_PER_USER || '').trim(),\n  v3TailorCapPerUser: String($env.V3_TAILOR_CAP_PER_USER || '').trim(),\n  v3LlmPaceMs: String($env.V3_LLM_PACE_MS || '').trim(),\n  v3MaxRetries: String($env.V3_MAX_RETRIES || '').trim(),\n  v3RetryBaseMs: String($env.V3_RETRY_BASE_MS || '').trim(),\n  v3RetryCapMs: String($env.V3_RETRY_CAP_MS || '').trim()\n};\n\nconst required = {\n  APP_URL: config.appUrl,\n  N8N_WEBHOOK_SECRET: config.webhookSecret,\n  ANTHROPIC_API_KEY: config.anthropicApiKey,\n  ADZUNA_APP_ID: config.adzunaAppId,\n  ADZUNA_APP_KEY: config.adzunaAppKey,\n  JSEARCH_API_KEY: config.jsearchApiKey,\n  JOOBLE_API_KEY: config.joobleApiKey,\n  REED_API_KEY: config.reedApiKey,\n  V3_JOB_CAP_PER_USER: config.v3JobCapPerUser,\n  V3_TAILOR_CAP_PER_USER: config.v3TailorCapPerUser,\n  V3_LLM_PACE_MS: config.v3LlmPaceMs,\n  V3_MAX_RETRIES: config.v3MaxRetries,\n  V3_RETRY_BASE_MS: config.v3RetryBaseMs,\n  V3_RETRY_CAP_MS: config.v3RetryCapMs\n};\n\nconst missing = Object.entries(required)\n  .filter(([_, value]) => !String(value || '').trim())\n  .map(([name]) => name);\n\nif (missing.length > 0) {\n  throw new Error('MISSING_ENV_NAMES:' + missing.join(','));\n}\n\nreturn [{\n  json: {\n    config: {\n      ...config,\n      v3CanarySampleRate: Number(config.v3CanarySampleRate || 0),\n      v3JobCapPerUser: Number(config.v3JobCapPerUser || 0),\n      v3TailorCapPerUser: Number(config.v3TailorCapPerUser || 0),\n      v3LlmPaceMs: Number(config.v3LlmPaceMs || 0),\n      v3MaxRetries: Number(config.v3MaxRetries || 0),\n      v3RetryBaseMs: Number(config.v3RetryBaseMs || 0),\n      v3RetryCapMs: Number(config.v3RetryCapMs || 0)\n    }\n  }\n}];"
      }
    },
    {
      "id": "jitter-v3",
      "name": "Random Jitter Wait v3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 21) }}",
        "unit": "minutes"
      }
    },
    {
      "id": "init-context-v3",
      "name": "Initialize Discovery Context v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\nconst config = input.config || {};\nconst runId = 'disc_v3_' + String($execution.id || Date.now());\n\nfunction slotIdForNow() {\n  const now = new Date();\n  const slotHour = Math.floor(now.getUTCHours() / 4) * 4;\n  const slot = new Date(Date.UTC(\n    now.getUTCFullYear(),\n    now.getUTCMonth(),\n    now.getUTCDate(),\n    slotHour,\n    0,\n    0,\n    0\n  ));\n  return slot.toISOString();\n}\n\nfunction parseCsv(raw) {\n  return String(raw || '').split(',').map((v) => v.trim()).filter(Boolean);\n}\n\nreturn [{\n  json: {\n    config,\n    runId,\n    slotId: slotIdForNow(),\n    workflowId: 'job-discovery-pipeline-v3',\n    appWebhookUrl: String(config.appUrl || '').replace(/\\/$/, '') + '/api/webhooks/n8n',\n    canaryAllowlist: parseCsv(config.v3CanaryUserIds),\n    summary: {\n      status: 'ok',\n      runId,\n      usersSeen: 0,\n      usersCanary: 0,\n      usersProcessed: 0,\n      usersFailed: 0,\n      persistedApplications: 0\n    }\n  }\n}];"
      }
    },
    {
      "id": "acquire-lock-v3",
      "name": "Acquire Discovery Lock v3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        880,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.appWebhookUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "={{ $json.config.webhookSecret }}"
            },
            {
              "name": "x-run-id",
              "value": "={{ $json.runId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'automation_lock_acquire', runId: $json.runId, data: { runId: $json.runId, workflow: 'discovery_v3', slotId: $json.slotId, ttlSeconds: 14400 } }) }}",
        "options": {
          "timeout": 20000
        }
      }
    },
    {
      "id": "parse-lock-v3",
      "name": "Parse Lock Result v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ],
      "parameters": {
        "jsCode": "const base = $('Initialize Discovery Context v3').first().json || {};\nconst lock = $input.first().json || {};\n\nconst acquired = Boolean(lock && lock.acquired);\nconst lockId = acquired ? String(lock.lockId || '') : '';\n\nreturn [{\n  json: {\n    ...base,\n    lockAcquired: acquired,\n    lockId,\n    lockExpiresAt: lock.expiresAt || null,\n    summary: {\n      ...(base.summary || {}),\n      slotId: base.slotId,\n      status: acquired ? 'ok' : 'skipped_lock_not_acquired'\n    }\n  }\n}];"
      }
    },
    {
      "id": "if-lock-acquired-v3",
      "name": "Lock Acquired? v3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1320,
        0
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.lockAcquired ? '1' : '0' }}",
              "operation": "equal",
              "value2": "1"
            }
          ]
        }
      }
    },
    {
      "id": "skip-lock-summary-v3",
      "name": "Build Lock-Skipped Summary v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        220
      ],
      "parameters": {
        "jsCode": "const base = $input.first().json || {};\nreturn [{\n  json: {\n    ...(base.summary || {}),\n    slotId: base.slotId,\n    runId: base.runId,\n    lockAcquired: false,\n    lockReleased: false,\n    reason: 'lock_not_acquired'\n  }\n}];"
      }
    },
    {
      "id": "fetch-active-users-v3",
      "name": "Fetch Active Users v3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1540,
        -120
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.appWebhookUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "={{ $json.config.webhookSecret }}"
            },
            {
              "name": "x-run-id",
              "value": "={{ $json.runId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'fetch_active_users', runId: $json.runId, data: { runId: $json.runId } }) }}",
        "options": {
          "timeout": 20000
        }
      }
    },
    {
      "id": "prepare-canary-users-v3",
      "name": "Prepare Canary Users v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        -120
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const base = $('Parse Lock Result v3').first().json || {};\nconst payload = $input.first().json || {};\nconst users = Array.isArray(payload.users) ? payload.users : [];\nconst allowlist = new Set(Array.isArray(base.canaryAllowlist) ? base.canaryAllowlist : []);\n\nconst canaryUsers = users.filter((user) => {\n  if (!user || typeof user !== 'object') return false;\n  const userId = String(user.id || '').trim();\n  if (!userId) return false;\n  if (allowlist.size === 0) return false;\n  return allowlist.has(userId);\n});\n\nif (canaryUsers.length === 0) {\n  return [{\n    json: {\n      ...base,\n      user: null,\n      userId: null,\n      usersSeen: users.length,\n      usersCanary: 0\n    }\n  }];\n}\n\nreturn canaryUsers.map((user) => {\n  const userId = String(user.id || '').trim();\n  return {\n    json: {\n      ...base,\n      user,\n      userId,\n      usersSeen: users.length,\n      usersCanary: canaryUsers.length\n    }\n  };\n});"
      }
    },
    {
      "id": "if-has-canary-users-v3",
      "name": "Has Canary User? v3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1980,
        -120
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.userId ? '1' : '0' }}",
              "operation": "equal",
              "value2": "1"
            }
          ]
        }
      }
    },
    {
      "id": "no-canary-summary-v3",
      "name": "Build No-Canary Summary v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        140
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json || {};\nreturn [{\n  json: {\n    runId: item.runId,\n    slotId: item.slotId,\n    lockId: item.lockId,\n    lockAcquired: true,\n    usersSeen: Number(item.usersSeen || 0),\n    usersCanary: 0,\n    usersProcessed: 0,\n    usersFailed: 0,\n    persistedApplications: 0,\n    status: 'no_canary_users'\n  }\n}];"
      }
    },
    {
      "id": "fetch-jobs-for-user-v3",
      "name": "Fetch Jobs For User v3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2200,
        -240
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.appWebhookUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "={{ $json.config.webhookSecret }}"
            },
            {
              "name": "x-run-id",
              "value": "={{ $json.runId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'fetch_jobs_for_user', runId: $json.runId, data: { user: { userId: $json.userId, targetTitles: Array.isArray($json.user.targetTitles) ? $json.user.targetTitles : [], locations: Array.isArray($json.user.locations) ? $json.user.locations : [], remotePreference: $json.user.remotePreference || 'any', masterCvText: String($json.user.masterCvText || ''), subscriptionStatus: String($json.user.subscriptionStatus || 'free'), creditsRemaining: Number($json.user.creditsRemaining || 0) }, sourceConfig: { adzunaAppId: $json.config.adzunaAppId, adzunaAppKey: $json.config.adzunaAppKey, jsearchApiKey: $json.config.jsearchApiKey, joobleApiKey: $json.config.joobleApiKey, reedApiKey: $json.config.reedApiKey } } }) }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "normalize-jobs-v3",
      "name": "Normalize/Dedupe Jobs v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        -240
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const userCtx = $('Prepare Canary Users v3').item.json || {};\nconst payload = $input.item.json || {};\nconst jobs = Array.isArray(payload.jobs) ? payload.jobs : [];\nconst user = userCtx.user || {};\nconst userId = String(userCtx.userId || '').trim();\n\nconst dedupe = new Set();\nconst normalized = [];\n\nfor (const rawJob of jobs) {\n  if (!rawJob || typeof rawJob !== 'object') continue;\n  const title = String(rawJob.title || '').trim();\n  const description = String(rawJob.description || '').trim();\n  const source = String(rawJob.source || 'manual').trim() || 'manual';\n  const externalId = String(rawJob.externalId || rawJob.url || '').trim();\n  if (!title || !description || !externalId) continue;\n  const key = (source + ':' + externalId).toLowerCase();\n  if (dedupe.has(key)) continue;\n  dedupe.add(key);\n  normalized.push({\n    externalId,\n    title,\n    company: String(rawJob.company || 'Unknown Company').trim() || 'Unknown Company',\n    location: String(rawJob.location || 'Not specified').trim() || 'Not specified',\n    description,\n    source,\n    url: String(rawJob.url || '').trim(),\n    salary: rawJob.salary || null,\n    postedAt: rawJob.postedAt || null,\n    userId,\n    masterCvText: String(user.masterCvText || '')\n  });\n}\n\nconst cap = Math.max(0, Number(userCtx.config && userCtx.config.v3JobCapPerUser ? userCtx.config.v3JobCapPerUser : 0));\nconst jobsCapped = normalized.slice(0, cap);\n\nif (jobsCapped.length === 0) {\n  return {\n  json: {\n      ...userCtx,\n      hasJobs: false,\n      jobsCapped: [],\n      applicationsBase: []\n    }\n  };\n}\n\nconst scoringPrompt = [\n  'Return ONLY a JSON array:',\n  '[{\"idx\":0,\"compatibility_score\":0-100,\"ats_keywords\":[],\"matching_strengths\":[],\"gaps\":[],\"recommendation\":\"apply|stretch|skip\"}]',\n  'Candidate CV:',\n  String(user.masterCvText || '').slice(0, 7000),\n  'Jobs:',\n  JSON.stringify(jobsCapped.map((job, idx) => ({\n    idx,\n    title: job.title,\n    company: job.company,\n    description: String(job.description || '').slice(0, 2200)\n  })))\n].join('\\n');\n\nreturn {\n  json: {\n    ...userCtx,\n    hasJobs: true,\n    jobsCapped,\n    scoringPrompt\n  }\n};"
      }
    },
    {
      "id": "if-has-jobs-v3",
      "name": "Has Jobs? v3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2640,
        -240
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.hasJobs ? '1' : '0' }}",
              "operation": "equal",
              "value2": "1"
            }
          ]
        }
      }
    },
    {
      "id": "finalize-no-jobs-v3",
      "name": "Finalize No-Jobs User v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        -20
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json || {};\nreturn [{\n  json: {\n    runId: item.runId,\n    slotId: item.slotId,\n    lockId: item.lockId,\n    usersSeen: Number(item.usersSeen || 0),\n    usersCanary: Number(item.usersCanary || 0),\n    userId: item.userId,\n    processed: true,\n    failed: false,\n    persistedCount: 0,\n    reason: 'no_jobs_after_normalization'\n  }\n}];"
      }
    },
    {
      "id": "http-score-batch-v3",
      "name": "HTTP Score Batch v3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2860,
        -360
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $json.config.anthropicApiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5', max_tokens: 1400, temperature: 0, messages: [{ role: 'user', content: $json.scoringPrompt }] }) }}",
        "options": {
          "timeout": 45000
        }
      }
    },
    {
      "id": "parse-scores-v3",
      "name": "Parse Scores v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        -360
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const prev = $('Normalize/Dedupe Jobs v3').item.json || {};\nconst resp = $input.item.json || {};\n\nfunction parseJsonArray(text) {\n  const raw = String(text || '');\n  const start = raw.indexOf('[');\n  const end = raw.lastIndexOf(']');\n  if (start < 0 || end <= start) return null;\n  try {\n    const parsed = JSON.parse(raw.slice(start, end + 1));\n    return Array.isArray(parsed) ? parsed : null;\n  } catch {\n    return null;\n  }\n}\n\nconst text = resp.content && resp.content[0] ? String(resp.content[0].text || '') : '';\nconst scoredRows = parseJsonArray(text);\nif (!Array.isArray(scoredRows)) {\n  return {\n  json: {\n      ...prev,\n      scoreParseOk: false,\n      scoreReasonCode: 'SCORING_PARSE_FAILURE'\n    }\n  };\n}\n\nconst scoreByIdx = new Map();\nfor (const row of scoredRows) {\n  if (!row || typeof row !== 'object') continue;\n  const idx = Number(row.idx);\n  if (!Number.isInteger(idx)) continue;\n  scoreByIdx.set(idx, {\n    compatibilityScore: Number(row.compatibility_score || 0),\n    atsKeywords: Array.isArray(row.ats_keywords) ? row.ats_keywords.slice(0, 12) : [],\n    matchingStrengths: Array.isArray(row.matching_strengths) ? row.matching_strengths.slice(0, 6) : [],\n    gaps: Array.isArray(row.gaps) ? row.gaps.slice(0, 6) : [],\n    recommendation: String(row.recommendation || 'skip')\n  });\n}\n\nconst scoredJobs = (Array.isArray(prev.jobsCapped) ? prev.jobsCapped : []).map((job, idx) => {\n  const score = scoreByIdx.get(idx) || {\n    compatibilityScore: 0,\n    atsKeywords: [],\n    matchingStrengths: [],\n    gaps: [],\n    recommendation: 'skip'\n  };\n  return {\n    ...job,\n    compatibilityScore: Math.max(0, Math.min(100, Number(score.compatibilityScore || 0))),\n    atsKeywords: score.atsKeywords,\n    matchingStrengths: score.matchingStrengths,\n    gaps: score.gaps,\n    recommendation: score.recommendation\n  };\n});\n\nconst threshold = 70;\nconst tailorCap = Math.max(0, Number(prev.config && prev.config.v3TailorCapPerUser ? prev.config.v3TailorCapPerUser : 0));\nconst candidatesToTailor = scoredJobs.filter((job) => Number(job.compatibilityScore || 0) >= threshold).slice(0, tailorCap);\n\nconst applicationsBase = scoredJobs.map((job) => ({\n  ...job,\n  tailoredCvMarkdown: null,\n  coverLetterMarkdown: null,\n  status: 'discovered'\n}));\n\nreturn {\n  json: {\n    ...prev,\n    scoreParseOk: true,\n    scoredJobs,\n    candidatesToTailor,\n    applicationsBase,\n    hasTailorCandidates: candidatesToTailor.length > 0\n  }\n};"
      }
    },
    {
      "id": "if-scores-ok-v3",
      "name": "Scores Parsed? v3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3300,
        -360
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.scoreParseOk ? '1' : '0' }}",
              "operation": "equal",
              "value2": "1"
            }
          ]
        }
      }
    },
    {
      "id": "report-score-error-v3",
      "name": "Build Score Error Payload v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        -120
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json || {};\nreturn [{\n  json: {\n    appWebhookUrl: item.appWebhookUrl,\n    runId: item.runId,\n    webhookSecret: item.config ? item.config.webhookSecret : '',\n    userId: item.userId,\n    reasonCode: item.scoreReasonCode || 'SCORING_PARSE_FAILURE',\n    workflowErrorData: {\n      workflowId: item.workflowId || 'job-discovery-pipeline-v3',\n      nodeName: 'Parse Scores v3',\n      errorType: item.scoreReasonCode || 'SCORING_PARSE_FAILURE',\n      message: 'Parse Scores v3:' + String(item.scoreReasonCode || 'SCORING_PARSE_FAILURE'),\n      payload: {\n        runId: item.runId,\n        slotId: item.slotId,\n        userId: item.userId,\n        reasonCode: item.scoreReasonCode || 'SCORING_PARSE_FAILURE'\n      },\n      userId: item.userId\n    },\n    lockId: item.lockId,\n    usersSeen: Number(item.usersSeen || 0),\n    usersCanary: Number(item.usersCanary || 0)\n  }\n}];"
      }
    },
    {
      "id": "workflow-error-score-v3",
      "name": "Workflow Error Callback (Score) v3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3740,
        -120
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.appWebhookUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "={{ $json.webhookSecret }}"
            },
            {
              "name": "x-run-id",
              "value": "={{ $json.runId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'workflow_error', runId: $json.runId, data: $json.workflowErrorData }) }}",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "if-has-tailor-candidates-v3",
      "name": "Has Tailor Candidates? v3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3520,
        -440
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.hasTailorCandidates ? '1' : '0' }}",
              "operation": "equal",
              "value2": "1"
            }
          ]
        }
      }
    },
    {
      "id": "prepare-persist-no-tailor-v3",
      "name": "Prepare Persist (No Tailor) v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3740,
        -520
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json || {};\nreturn [{\n  json: {\n    ...item,\n    applicationsFinal: Array.isArray(item.applicationsBase) ? item.applicationsBase : []\n  }\n}];"
      }
    },
    {
      "id": "wait-tailor-pace-v3",
      "name": "Tailor Pace Wait v3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3740,
        -760
      ],
      "parameters": {
        "amount": "={{ Math.max(0, Math.ceil(Number($json.config.v3LlmPaceMs || 0) / 1000)) }}",
        "unit": "seconds"
      }
    },
    {
      "id": "build-tailor-prompt-v3",
      "name": "Build Tailor Prompt Batch v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3960,
        -760
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json || {};\nconst candidates = Array.isArray(item.candidatesToTailor) ? item.candidatesToTailor : [];\nconst masterCvText = String(item.user && item.user.masterCvText ? item.user.masterCvText : '');\n\nconst tailorPrompt = [\n  'Return ONLY a JSON array:',\n  '[{\"idx\":0,\"tailored_cv_markdown\":\"...\",\"motivation_letter_markdown\":\"...\"}]',\n  'Never fabricate candidate facts. Use only candidate-provided information.',\n  'Candidate CV:',\n  masterCvText.slice(0, 7000),\n  'Jobs to tailor:',\n  JSON.stringify(candidates.map((job, idx) => ({\n    idx,\n    title: job.title,\n    company: job.company,\n    atsKeywords: Array.isArray(job.atsKeywords) ? job.atsKeywords : [],\n    description: String(job.description || '').slice(0, 3500)\n  })))\n].join('\\n');\n\nreturn {\n  json: {\n    ...item,\n    tailorPrompt,\n    candidatesToTailor: candidates\n  }\n};"
      }
    },
    {
      "id": "http-tailor-batch-v3",
      "name": "HTTP Tailor Batch v3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4180,
        -760
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $json.config.anthropicApiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 2600, temperature: 0.1, messages: [{ role: 'user', content: $json.tailorPrompt }] }) }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "parse-tailor-batch-v3",
      "name": "Parse Tailor Batch v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        -760
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const prev = $('Build Tailor Prompt Batch v3').item.json || {};\nconst resp = $input.item.json || {};\n\nfunction parseJsonArray(text) {\n  const raw = String(text || '');\n  const start = raw.indexOf('[');\n  const end = raw.lastIndexOf(']');\n  if (start < 0 || end <= start) return null;\n  try {\n    const parsed = JSON.parse(raw.slice(start, end + 1));\n    return Array.isArray(parsed) ? parsed : null;\n  } catch {\n    return null;\n  }\n}\n\nconst text = resp.content && resp.content[0] ? String(resp.content[0].text || '') : '';\nconst tailoredRows = parseJsonArray(text);\nif (!Array.isArray(tailoredRows)) {\n  return {\n  json: {\n      ...prev,\n      tailorParseOk: false,\n      tailorReasonCode: 'TAILORING_PARSE_FAILURE'\n    }\n  };\n}\n\nconst tailoredByIdx = new Map();\nfor (const row of tailoredRows) {\n  if (!row || typeof row !== 'object') continue;\n  const idx = Number(row.idx);\n  if (!Number.isInteger(idx)) continue;\n  tailoredByIdx.set(idx, {\n    tailoredCvMarkdown: String(row.tailored_cv_markdown || ''),\n    coverLetterMarkdown: String(row.motivation_letter_markdown || '')\n  });\n}\n\nconst candidateIndex = new Map();\n(prev.candidatesToTailor || []).forEach((job, idx) => {\n  candidateIndex.set((String(job.source || 'manual') + ':' + String(job.externalId || '')).toLowerCase(), idx);\n});\n\nconst applicationsFinal = (Array.isArray(prev.applicationsBase) ? prev.applicationsBase : []).map((application) => {\n  const key = (String(application.source || 'manual') + ':' + String(application.externalId || '')).toLowerCase();\n  const idx = candidateIndex.get(key);\n  if (idx === undefined) {\n    return application;\n  }\n  const tailored = tailoredByIdx.get(idx) || { tailoredCvMarkdown: '', coverLetterMarkdown: '' };\n  return {\n    ...application,\n    tailoredCvMarkdown: tailored.tailoredCvMarkdown,\n    coverLetterMarkdown: tailored.coverLetterMarkdown,\n    status: tailored.tailoredCvMarkdown ? 'tailored' : 'discovered'\n  };\n});\n\nreturn {\n  json: {\n    ...prev,\n    tailorParseOk: true,\n    applicationsFinal\n  }\n};"
      }
    },
    {
      "id": "if-tailor-ok-v3",
      "name": "Tailor Parsed? v3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4620,
        -760
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tailorParseOk ? '1' : '0' }}",
              "operation": "equal",
              "value2": "1"
            }
          ]
        }
      }
    },
    {
      "id": "report-tailor-error-v3",
      "name": "Build Tailor Error Payload v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4840,
        -620
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json || {};\nreturn [{\n  json: {\n    appWebhookUrl: item.appWebhookUrl,\n    runId: item.runId,\n    webhookSecret: item.config ? item.config.webhookSecret : '',\n    userId: item.userId,\n    reasonCode: item.tailorReasonCode || 'TAILORING_PARSE_FAILURE',\n    workflowErrorData: {\n      workflowId: item.workflowId || 'job-discovery-pipeline-v3',\n      nodeName: 'Parse Tailor Batch v3',\n      errorType: item.tailorReasonCode || 'TAILORING_PARSE_FAILURE',\n      message: 'Parse Tailor Batch v3:' + String(item.tailorReasonCode || 'TAILORING_PARSE_FAILURE'),\n      payload: {\n        runId: item.runId,\n        slotId: item.slotId,\n        userId: item.userId,\n        reasonCode: item.tailorReasonCode || 'TAILORING_PARSE_FAILURE'\n      },\n      userId: item.userId\n    },\n    lockId: item.lockId,\n    usersSeen: Number(item.usersSeen || 0),\n    usersCanary: Number(item.usersCanary || 0)\n  }\n}];"
      }
    },
    {
      "id": "workflow-error-tailor-v3",
      "name": "Workflow Error Callback (Tailor) v3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5060,
        -620
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.appWebhookUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "={{ $json.webhookSecret }}"
            },
            {
              "name": "x-run-id",
              "value": "={{ $json.runId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'workflow_error', runId: $json.runId, data: $json.workflowErrorData }) }}",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "prepare-persist-v3",
      "name": "Prepare Persist Payload v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4840,
        -880
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json || {};\nconst applicationsFinal = Array.isArray(item.applicationsFinal)\n  ? item.applicationsFinal\n  : (Array.isArray(item.applicationsBase) ? item.applicationsBase : []);\n\nconst userId = String(item.userId || '').trim();\nconst slotId = String(item.slotId || '').trim();\nconst idempotencyKey = 'disc_v3:' + slotId + ':' + userId;\n\nreturn {\n  json: {\n    ...item,\n    applicationsFinal,\n    idempotencyKey,\n    skipPersist: !userId || applicationsFinal.length === 0\n  }\n};"
      }
    },
    {
      "id": "if-should-persist-v3",
      "name": "Should Persist? v3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5060,
        -880
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.skipPersist ? '1' : '0' }}",
              "operation": "equal",
              "value2": "0"
            }
          ]
        }
      }
    },
    {
      "id": "persist-new-applications-v3",
      "name": "Persist New Applications v3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5280,
        -980
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.appWebhookUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "={{ $json.config.webhookSecret }}"
            },
            {
              "name": "x-run-id",
              "value": "={{ $json.runId }}"
            },
            {
              "name": "x-idempotency-key",
              "value": "={{ $json.idempotencyKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'new_applications', runId: $json.runId, data: { userId: $json.userId, applications: $json.applicationsFinal } }) }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "finalize-user-result-v3",
      "name": "Finalize User Result v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5500,
        -880
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const source = $input.item.json || {};\nlet base = source;\n\nif (source && source.appWebhookUrl && source.config) {\n  base = source;\n} else if ($('Prepare Persist Payload v3').item && $('Prepare Persist Payload v3').item.json) {\n  base = $('Prepare Persist Payload v3').item.json;\n} else if ($('Normalize/Dedupe Jobs v3').item && $('Normalize/Dedupe Jobs v3').item.json) {\n  base = $('Normalize/Dedupe Jobs v3').item.json;\n}\n\nconst isFailure = String(base.reasonCode || '').includes('FAILURE') || String(base.reason || '').includes('FAILURE');\nconst persistedCount = Array.isArray(base.applicationsFinal) && !base.skipPersist ? base.applicationsFinal.length : 0;\n\nreturn {\n  json: {\n    runId: base.runId,\n    slotId: base.slotId,\n    lockId: base.lockId,\n    usersSeen: Number(base.usersSeen || 0),\n    usersCanary: Number(base.usersCanary || 0),\n    userId: base.userId || null,\n    processed: Boolean(base.userId),\n    failed: Boolean(isFailure),\n    persistedCount,\n    reason: base.reason || null,\n    reasonCode: base.reasonCode || null\n  }\n};"
      }
    },
    {
      "id": "aggregate-summary-v3",
      "name": "Aggregate Discovery Summary v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5720,
        -880
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst lock = $('Parse Lock Result v3').first().json || {};\n\nlet usersProcessed = 0;\nlet usersFailed = 0;\nlet persistedApplications = 0;\nlet usersSeen = 0;\nlet usersCanary = 0;\n\nfor (const item of items) {\n  const row = item.json || {};\n  usersSeen = Math.max(usersSeen, Number(row.usersSeen || 0));\n  usersCanary = Math.max(usersCanary, Number(row.usersCanary || 0));\n  if (row.processed) usersProcessed += 1;\n  if (row.failed) usersFailed += 1;\n  persistedApplications += Number(row.persistedCount || 0);\n}\n\nreturn [{\n  json: {\n    runId: lock.runId,\n    slotId: lock.slotId,\n    lockId: lock.lockId,\n    lockAcquired: true,\n    usersSeen,\n    usersCanary,\n    usersProcessed,\n    usersFailed,\n    persistedApplications,\n    status: usersFailed > 0 ? 'completed_with_user_errors' : 'ok'\n  }\n}];"
      }
    },
    {
      "id": "release-lock-v3",
      "name": "Release Discovery Lock v3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5940,
        -740
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ String($('Initialize Discovery Context v3').first().json.appWebhookUrl || '') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "={{ $('Initialize Discovery Context v3').first().json.config.webhookSecret }}"
            },
            {
              "name": "x-run-id",
              "value": "={{ $json.runId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'automation_lock_release', runId: $json.runId, data: { runId: $json.runId, lockId: $json.lockId } }) }}",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "build-final-summary-v3",
      "name": "Build Final Summary v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6160,
        -740
      ],
      "parameters": {
        "jsCode": "const summary = $input.first().json || {};\nreturn [{\n  json: {\n    ...summary,\n    completedAt: new Date().toISOString()\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Schedule Trigger v3": {
      "main": [
        [
          {
            "node": "Load Config v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Config v3": {
      "main": [
        [
          {
            "node": "Random Jitter Wait v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Jitter Wait v3": {
      "main": [
        [
          {
            "node": "Initialize Discovery Context v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Discovery Context v3": {
      "main": [
        [
          {
            "node": "Acquire Discovery Lock v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire Discovery Lock v3": {
      "main": [
        [
          {
            "node": "Parse Lock Result v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Lock Result v3": {
      "main": [
        [
          {
            "node": "Lock Acquired? v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Acquired? v3": {
      "main": [
        [
          {
            "node": "Fetch Active Users v3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Lock-Skipped Summary v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Lock-Skipped Summary v3": {
      "main": [
        [
          {
            "node": "Build Final Summary v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Users v3": {
      "main": [
        [
          {
            "node": "Prepare Canary Users v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Canary Users v3": {
      "main": [
        [
          {
            "node": "Has Canary User? v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Canary User? v3": {
      "main": [
        [
          {
            "node": "Fetch Jobs For User v3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build No-Canary Summary v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build No-Canary Summary v3": {
      "main": [
        [
          {
            "node": "Release Discovery Lock v3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Final Summary v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jobs For User v3": {
      "main": [
        [
          {
            "node": "Normalize/Dedupe Jobs v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize/Dedupe Jobs v3": {
      "main": [
        [
          {
            "node": "Has Jobs? v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Jobs? v3": {
      "main": [
        [
          {
            "node": "HTTP Score Batch v3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize No-Jobs User v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize No-Jobs User v3": {
      "main": [
        [
          {
            "node": "Aggregate Discovery Summary v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Score Batch v3": {
      "main": [
        [
          {
            "node": "Parse Scores v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Scores v3": {
      "main": [
        [
          {
            "node": "Scores Parsed? v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scores Parsed? v3": {
      "main": [
        [
          {
            "node": "Has Tailor Candidates? v3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Score Error Payload v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Score Error Payload v3": {
      "main": [
        [
          {
            "node": "Workflow Error Callback (Score) v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Error Callback (Score) v3": {
      "main": [
        [
          {
            "node": "Finalize User Result v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Tailor Candidates? v3": {
      "main": [
        [
          {
            "node": "Tailor Pace Wait v3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Persist (No Tailor) v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Persist (No Tailor) v3": {
      "main": [
        [
          {
            "node": "Prepare Persist Payload v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tailor Pace Wait v3": {
      "main": [
        [
          {
            "node": "Build Tailor Prompt Batch v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tailor Prompt Batch v3": {
      "main": [
        [
          {
            "node": "HTTP Tailor Batch v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Tailor Batch v3": {
      "main": [
        [
          {
            "node": "Parse Tailor Batch v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tailor Batch v3": {
      "main": [
        [
          {
            "node": "Tailor Parsed? v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tailor Parsed? v3": {
      "main": [
        [
          {
            "node": "Prepare Persist Payload v3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Tailor Error Payload v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tailor Error Payload v3": {
      "main": [
        [
          {
            "node": "Workflow Error Callback (Tailor) v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Error Callback (Tailor) v3": {
      "main": [
        [
          {
            "node": "Finalize User Result v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Persist Payload v3": {
      "main": [
        [
          {
            "node": "Should Persist? v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Persist? v3": {
      "main": [
        [
          {
            "node": "Persist New Applications v3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize User Result v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist New Applications v3": {
      "main": [
        [
          {
            "node": "Finalize User Result v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize User Result v3": {
      "main": [
        [
          {
            "node": "Aggregate Discovery Summary v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Discovery Summary v3": {
      "main": [
        [
          {
            "node": "Release Discovery Lock v3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Final Summary v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "pinData": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionCounter": 1,
  "activeVersion": null,
  "activeVersionId": null,
  "versionId": null,
  "id": null,
  "createdAt": null,
  "updatedAt": null,
  "isArchived": false,
  "description": "Additive v3 discovery workflow refactored to HTTP Request networking for app and Anthropic calls.",
  "shared": [],
  "meta": null
}
