n8n/workflows/single-job-tailoring-v3.json
{
  "name": "User-Initiated Single Job Tailoring v3",
  "active": false,
  "nodes": [
    {
      "id": "webhook-v3",
      "name": "Webhook Trigger v3",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "single-job-tailor-v3",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "load-config-single-v3",
      "name": "Load Config Single v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "jsCode": "(async () => {\nconst config = {\n  appUrl: String($env.APP_URL || '').trim(),\n  webhookSecret: String($env.N8N_WEBHOOK_SECRET || '').trim(),\n  anthropicApiKey: String($env.ANTHROPIC_API_KEY || '').trim(),\n  v3MaxRetries: String($env.V3_MAX_RETRIES || '').trim(),\n  v3RetryBaseMs: String($env.V3_RETRY_BASE_MS || '').trim(),\n  v3RetryCapMs: String($env.V3_RETRY_CAP_MS || '').trim()\n};\n\nconst required = {\n  APP_URL: config.appUrl,\n  N8N_WEBHOOK_SECRET: config.webhookSecret,\n  ANTHROPIC_API_KEY: config.anthropicApiKey,\n  V3_MAX_RETRIES: config.v3MaxRetries,\n  V3_RETRY_BASE_MS: config.v3RetryBaseMs,\n  V3_RETRY_CAP_MS: config.v3RetryCapMs\n};\n\nconst missing = Object.entries(required)\n  .filter(([_, value]) => !String(value || '').trim())\n  .map(([name]) => name);\n\nif (missing.length > 0) {\n  throw new Error('MISSING_ENV_NAMES:' + missing.join(','));\n}\n\nconst payload = $input.first().json || {};\nreturn [{ json: { ...payload, config } }];\n})();"
      }
    },
    {
      "id": "validate-prepare-single-v3",
      "name": "Validate and Prepare Single v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "jsCode": "(async () => {\nconst input = $input.first().json || {};\nconst config = input.config || {};\nconst body = input.body || {};\nconst headers = input.headers || {};\nconst runId = 'tailor_v3_' + String($execution.id || Date.now());\n\nconst incomingSecret = String(headers['x-webhook-secret'] || headers['X-Webhook-Secret'] || '').trim();\nif (!incomingSecret || incomingSecret !== String(config.webhookSecret || '').trim()) {\n  return [{ json: { ok: false, status: 401, error: 'unauthorized', runId } }];\n}\n\nconst userId = String(body.userId || '').trim();\nconst jobId = String(body.jobId || '').trim();\nconst jobDescription = String(body.jobDescription || '').trim();\nconst masterCvText = String(body.masterCvText || '').trim();\nconst jobTitle = String(body.jobTitle || '').trim();\nconst company = String(body.company || '').trim();\nconst additionalContext = String(body.additionalContext || '').trim();\n\nif (!userId || !jobId || !jobDescription || !masterCvText) {\n  return [{\n    json: {\n      ok: false,\n      status: 400,\n      error: 'invalid_payload',\n      runId,\n      missing: [\n        !userId ? 'userId' : null,\n        !jobId ? 'jobId' : null,\n        !jobDescription ? 'jobDescription' : null,\n        !masterCvText ? 'masterCvText' : null\n      ].filter(Boolean)\n    }\n  }];\n}\n\nconst scoringPrompt = [\n  'Return ONLY JSON:',\n  '{\"compatibility_score\":0-100,\"ats_keywords\":[],\"matching_strengths\":[],\"gaps\":[],\"recommendation\":\"apply|stretch|skip\"}',\n  'Job description:',\n  jobDescription.slice(0, 4000),\n  'Candidate CV:',\n  masterCvText.slice(0, 7000),\n  additionalContext ? ('Additional confirmed candidate context:\\n' + additionalContext.slice(0, 2500)) : ''\n].join('\\n');\n\nreturn [{\n  json: {\n    ok: true,\n    status: 200,\n    runId,\n    userId,\n    jobId,\n    jobTitle: jobTitle || 'Untitled Position',\n    company: company || 'Unknown Company',\n    jobDescription,\n    masterCvText,\n    additionalContext,\n    scoringPrompt,\n    appUrl: String(config.appUrl || '').trim(),\n    webhookSecret: String(config.webhookSecret || '').trim(),\n    anthropicApiKey: String(config.anthropicApiKey || '').trim()\n  }\n}];\n})();"
      }
    },
    {
      "id": "if-request-valid-v3",
      "name": "Request Valid? v3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.ok ? '1' : '0' }}",
              "operation": "equal",
              "value2": "1"
            }
          ]
        }
      }
    },
    {
      "id": "http-score-v3",
      "name": "HTTP Score v3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        880,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $json.anthropicApiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5', max_tokens: 900, temperature: 0, messages: [{ role: 'user', content: $json.scoringPrompt }] }) }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "parse-scoring-v3",
      "name": "Parse Scoring Response v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        -100
      ],
      "parameters": {
        "jsCode": "(async () => {\nconst prev = $('Validate and Prepare Single v3').first().json || {};\nconst resp = $input.first().json || {};\n\nfunction parseJsonObject(text) {\n  const raw = String(text || '');\n  const start = raw.indexOf('{');\n  const end = raw.lastIndexOf('}');\n  if (start < 0 || end <= start) return null;\n  try {\n    return JSON.parse(raw.slice(start, end + 1));\n  } catch {\n    return null;\n  }\n}\n\nconst text = resp.content && resp.content[0] ? String(resp.content[0].text || '') : '';\nconst parsed = parseJsonObject(text);\nif (!parsed || typeof parsed !== 'object') {\n  return [{\n    json: {\n      ok: false,\n      status: 500,\n      error: 'single_tailor_failed',\n      reasonCode: 'SCORING_PARSE_FAILURE',\n      runId: prev.runId,\n      userId: prev.userId,\n      jobId: prev.jobId\n    }\n  }];\n}\n\nconst atsKeywords = Array.isArray(parsed.ats_keywords) ? parsed.ats_keywords.slice(0, 12) : [];\nconst matchingStrengths = Array.isArray(parsed.matching_strengths) ? parsed.matching_strengths.slice(0, 6) : [];\nconst gaps = Array.isArray(parsed.gaps) ? parsed.gaps.slice(0, 6) : [];\nconst recommendation = String(parsed.recommendation || 'stretch');\nconst compatibilityScore = Number(parsed.compatibility_score || 0);\n\nconst tailorPrompt = [\n  'Return ONLY JSON:',\n  '{\"tailored_cv_markdown\":\"...\",\"motivation_letter_markdown\":\"...\"}',\n  'Never fabricate facts. Use only candidate-provided information.',\n  'ATS keywords:',\n  JSON.stringify(atsKeywords),\n  'Job title:',\n  prev.jobTitle || 'Untitled Position',\n  'Company:',\n  prev.company || 'Unknown Company',\n  'Job description:',\n  String(prev.jobDescription || '').slice(0, 4000),\n  'Candidate CV:',\n  String(prev.masterCvText || '').slice(0, 7000),\n  prev.additionalContext ? ('Additional confirmed candidate context:\\n' + String(prev.additionalContext).slice(0, 2500)) : ''\n].join('\\n');\n\nreturn [{\n  json: {\n    ...prev,\n    ok: true,\n    status: 200,\n    compatibilityScore,\n    atsKeywords,\n    matchingStrengths,\n    gaps,\n    recommendation,\n    tailorPrompt\n  }\n}];\n})();"
      }
    },
    {
      "id": "if-scoring-ok-v3",
      "name": "Scoring OK? v3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1320,
        -100
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.ok ? '1' : '0' }}",
              "operation": "equal",
              "value2": "1"
            }
          ]
        }
      }
    },
    {
      "id": "http-tailor-v3",
      "name": "HTTP Tailor v3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1540,
        -220
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $json.anthropicApiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 2600, temperature: 0.1, messages: [{ role: 'user', content: $json.tailorPrompt }] }) }}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "parse-tailoring-v3",
      "name": "Parse Tailoring Response v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        -220
      ],
      "parameters": {
        "jsCode": "(async () => {\nconst prev = $('Parse Scoring Response v3').first().json || {};\nconst resp = $input.first().json || {};\n\nfunction parseJsonObject(text) {\n  const raw = String(text || '');\n  const start = raw.indexOf('{');\n  const end = raw.lastIndexOf('}');\n  if (start < 0 || end <= start) return null;\n  try {\n    return JSON.parse(raw.slice(start, end + 1));\n  } catch {\n    return null;\n  }\n}\n\nconst text = resp.content && resp.content[0] ? String(resp.content[0].text || '') : '';\nconst parsed = parseJsonObject(text);\nif (!parsed || typeof parsed !== 'object') {\n  return [{\n    json: {\n      ok: false,\n      status: 500,\n      error: 'single_tailor_failed',\n      reasonCode: 'TAILORING_PARSE_FAILURE',\n      runId: prev.runId,\n      userId: prev.userId,\n      jobId: prev.jobId\n    }\n  }];\n}\n\nconst idempotencyKey = 'tailor_v3:' + prev.userId + ':' + prev.jobId;\n\nreturn [{\n  json: {\n    ...prev,\n    ok: true,\n    status: 200,\n    idempotencyKey,\n    tailoredCvMarkdown: String(parsed.tailored_cv_markdown || ''),\n    coverLetterMarkdown: String(parsed.motivation_letter_markdown || '')\n  }\n}];\n})();"
      }
    },
    {
      "id": "if-tailoring-ok-v3",
      "name": "Tailoring OK? v3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1980,
        -220
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.ok ? '1' : '0' }}",
              "operation": "equal",
              "value2": "1"
            }
          ]
        }
      }
    },
    {
      "id": "http-persist-tailor-v3",
      "name": "Persist Single Tailoring v3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2200,
        -360
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ String($json.appUrl || '').replace(/\\/$/, '') + '/api/webhooks/n8n' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "={{ $json.webhookSecret }}"
            },
            {
              "name": "x-run-id",
              "value": "={{ $json.runId }}"
            },
            {
              "name": "x-idempotency-key",
              "value": "={{ $json.idempotencyKey }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'single_tailoring_complete', runId: $json.runId, data: { userId: $json.userId, jobId: $json.jobId, jobTitle: $json.jobTitle, company: $json.company, compatibilityScore: $json.compatibilityScore, atsKeywords: $json.atsKeywords, matchingStrengths: $json.matchingStrengths, gaps: $json.gaps, recommendation: $json.recommendation, tailoredCvMarkdown: $json.tailoredCvMarkdown, coverLetterMarkdown: $json.coverLetterMarkdown } }) }}",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "build-success-response-v3",
      "name": "Build Success Response v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        -360
      ],
      "parameters": {
        "jsCode": "(async () => {\nconst prev = $('Parse Tailoring Response v3').first().json || {};\nreturn [{\n  json: {\n    ok: true,\n    status: 200,\n    runId: prev.runId,\n    userId: prev.userId,\n    jobId: prev.jobId,\n    idempotencyKey: prev.idempotencyKey,\n    persisted: true\n  }\n}];\n})();"
      }
    },
    {
      "id": "respond-v3",
      "name": "Respond v3",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2640,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ Number($json.status || 200) }}"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger v3": {
      "main": [
        [
          {
            "node": "Load Config Single v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Config Single v3": {
      "main": [
        [
          {
            "node": "Validate and Prepare Single v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate and Prepare Single v3": {
      "main": [
        [
          {
            "node": "Request Valid? v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Valid? v3": {
      "main": [
        [
          {
            "node": "HTTP Score v3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Score v3": {
      "main": [
        [
          {
            "node": "Parse Scoring Response v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Scoring Response v3": {
      "main": [
        [
          {
            "node": "Scoring OK? v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scoring OK? v3": {
      "main": [
        [
          {
            "node": "HTTP Tailor v3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Tailor v3": {
      "main": [
        [
          {
            "node": "Parse Tailoring Response v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tailoring Response v3": {
      "main": [
        [
          {
            "node": "Tailoring OK? v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tailoring OK? v3": {
      "main": [
        [
          {
            "node": "Persist Single Tailoring v3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Single Tailoring v3": {
      "main": [
        [
          {
            "node": "Build Success Response v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Response v3": {
      "main": [
        [
          {
            "node": "Respond v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "pinData": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionCounter": 1,
  "activeVersion": null,
  "activeVersionId": null,
  "versionId": null,
  "id": null,
  "createdAt": null,
  "updatedAt": null,
  "isArchived": false,
  "description": "Additive v3 single-tailor workflow using HTTP Request nodes for Anthropic + persistence (no fetch in Code nodes).",
  "shared": [],
  "meta": null
}
