n8n/workflows/single-job-tailoring-v3.json
{
  "name": "User-Initiated Single Job Tailoring v3",
  "active": false,
  "nodes": [
    {
      "id": "webhook-v3",
      "name": "Webhook Trigger v3",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "single-job-tailor-v3",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "load-config-single-v3",
      "name": "Load Config Single v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "parameters": {
        "jsCode": "(async () => {\n// Strict v3 env contract preflight for single-tailor webhook.\nconst config = {\n  appUrl: String($env.APP_URL || '').trim(),\n  webhookSecret: String($env.N8N_WEBHOOK_SECRET || '').trim(),\n  anthropicApiKey: String($env.ANTHROPIC_API_KEY || '').trim(),\n  v3MaxRetries: String($env.V3_MAX_RETRIES || '').trim(),\n  v3RetryBaseMs: String($env.V3_RETRY_BASE_MS || '').trim(),\n  v3RetryCapMs: String($env.V3_RETRY_CAP_MS || '').trim()\n};\n\nconst required = {\n  APP_URL: config.appUrl,\n  N8N_WEBHOOK_SECRET: config.webhookSecret,\n  ANTHROPIC_API_KEY: config.anthropicApiKey,\n  V3_MAX_RETRIES: config.v3MaxRetries,\n  V3_RETRY_BASE_MS: config.v3RetryBaseMs,\n  V3_RETRY_CAP_MS: config.v3RetryCapMs\n};\n\nconst missing = Object.entries(required)\n  .filter(([_, value]) => !String(value || '').trim())\n  .map(([name]) => name);\n\nif (missing.length > 0) {\n  throw new Error('MISSING_ENV_NAMES:' + missing.join(','));\n}\n\nconst payload = $input.first().json || {};\n\nreturn [{\n  json: {\n    ...payload,\n    config: {\n      ...config,\n      v3MaxRetries: Number(config.v3MaxRetries),\n      v3RetryBaseMs: Number(config.v3RetryBaseMs),\n      v3RetryCapMs: Number(config.v3RetryCapMs)\n    }\n  }\n}];\n})();"
      }
    },
    {
      "id": "run-single-v3",
      "name": "Run Single Tailor v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "parameters": {
        "jsCode": "(async () => {\nconst trigger = $input.first().json || {};\nconst config = trigger.config || {};\nconst body = trigger.body || {};\nconst headers = trigger.headers || {};\nconst runId = 'tailor_v3_' + String($execution.id || Date.now());\n\nfunction sleep(ms) {\n  return new Promise((resolve) => setTimeout(resolve, ms));\n}\n\nfunction parseJsonObject(text) {\n  const raw = String(text || '');\n  const start = raw.indexOf('{');\n  const end = raw.lastIndexOf('}');\n  if (start < 0 || end <= start) return null;\n  try {\n    return JSON.parse(raw.slice(start, end + 1));\n  } catch {\n    return null;\n  }\n}\n\nfunction retryAfterMs(headersObj) {\n  const raw = headersObj && typeof headersObj.get === 'function' ? String(headersObj.get('retry-after') || '').trim() : '';\n  if (!raw) return null;\n  const n = Number(raw);\n  if (Number.isFinite(n) && n >= 0) return Math.floor(n * 1000);\n  const ts = Date.parse(raw);\n  if (Number.isNaN(ts)) return null;\n  const d = ts - Date.now();\n  return d > 0 ? d : 0;\n}\n\nfunction shouldRetry(status) {\n  if (status === 429 || status === 529) return true;\n  return status >= 500 && status <= 599;\n}\n\nasync function withRetry(fn, meta) {\n  const maxRetries = Math.max(0, Number(config.v3MaxRetries || 0));\n  const base = Math.max(1, Number(config.v3RetryBaseMs || 250));\n  const cap = Math.max(base, Number(config.v3RetryCapMs || 5000));\n  let attempt = 0;\n  let repeated429 = false;\n\n  while (attempt <= maxRetries) {\n    attempt += 1;\n    try {\n      const value = await fn();\n      return { value, repeated429, attempts: attempt };\n    } catch (error) {\n      const status = Number(error && error.status ? error.status : 0);\n      if (status === 429) repeated429 = true;\n      const retriable = shouldRetry(status);\n      if (!retriable || attempt > maxRetries) {\n        const reason = retriable\n          ? 'MAX_RETRIES_REACHED_' + String(status || 'NETWORK')\n          : 'NON_RETRIABLE_' + String(status || 'NETWORK');\n        const wrapped = new Error(reason);\n        wrapped.status = status;\n        wrapped.repeated429 = repeated429;\n        wrapped.stage = meta && meta.stage ? meta.stage : 'unknown';\n        wrapped.userId = meta && meta.userId ? meta.userId : null;\n        throw wrapped;\n      }\n      const retryAfter = Number(error && error.retryAfterMs ? error.retryAfterMs : 0) || 0;\n      const exp = Math.min(cap, base * Math.pow(2, attempt - 1));\n      const jitter = Math.floor(Math.random() * Math.max(50, Math.floor(base / 2)));\n      await sleep(Math.max(retryAfter, exp + jitter));\n    }\n  }\n\n  throw new Error('MAX_RETRIES_EXITED_UNEXPECTEDLY');\n}\n\nasync function anthropic(payload, meta) {\n  return withRetry(async () => {\n    const resp = await fetch('https://api.anthropic.com/v1/messages', {\n      method: 'POST',\n      headers: {\n        'x-api-key': config.anthropicApiKey,\n        'anthropic-version': '2023-06-01',\n        'content-type': 'application/json'\n      },\n      body: JSON.stringify(payload)\n    });\n    if (!resp.ok) {\n      const err = new Error('ANTHROPIC_FAILED');\n      err.status = resp.status;\n      err.retryAfterMs = retryAfterMs(resp.headers);\n      throw err;\n    }\n    return resp.json();\n  }, meta);\n}\n\nasync function appWebhook(type, data, extraHeaders = {}, meta = {}) {\n  const url = String(config.appUrl || '').replace(/\\/$/, '') + '/api/webhooks/n8n';\n  return withRetry(async () => {\n    const resp = await fetch(url, {\n      method: 'POST',\n      headers: {\n        'content-type': 'application/json',\n        'x-webhook-secret': config.webhookSecret,\n        'x-run-id': runId,\n        ...extraHeaders\n      },\n      body: JSON.stringify({ type, runId, data })\n    });\n    if (!resp.ok) {\n      const err = new Error('APP_WEBHOOK_' + type + '_FAILED');\n      err.status = resp.status;\n      err.retryAfterMs = retryAfterMs(resp.headers);\n      throw err;\n    }\n    try {\n      return await resp.json();\n    } catch {\n      return {};\n    }\n  }, meta);\n}\n\nasync function emitWorkflowError(stage, reasonCode, payload, userId) {\n  const url = String(config.appUrl || '').replace(/\\/$/, '') + '/api/webhooks/n8n';\n  await fetch(url, {\n    method: 'POST',\n    headers: {\n      'content-type': 'application/json',\n      'x-webhook-secret': config.webhookSecret,\n      'x-run-id': runId\n    },\n    body: JSON.stringify({\n      type: 'workflow_error',\n      runId,\n      data: {\n        workflowId: 'single-job-tailoring-v3',\n        nodeName: stage,\n        errorType: reasonCode,\n        message: stage + ':' + reasonCode,\n        payload,\n        userId: userId || undefined\n      }\n    })\n  }).catch(() => null);\n}\n\nconst incomingSecret = String(headers['x-webhook-secret'] || headers['X-Webhook-Secret'] || '').trim();\nif (!incomingSecret || incomingSecret !== String(config.webhookSecret || '').trim()) {\n  return [{ json: { ok: false, status: 401, error: 'unauthorized' } }];\n}\n\nconst userId = String(body.userId || '').trim();\nconst jobId = String(body.jobId || '').trim();\nconst jobDescription = String(body.jobDescription || '').trim();\nconst masterCvText = String(body.masterCvText || '').trim();\nconst jobTitle = String(body.jobTitle || '').trim();\nconst company = String(body.company || '').trim();\nconst additionalContext = String(body.additionalContext || '').trim();\n\nif (!userId || !jobId || !jobDescription || !masterCvText) {\n  return [{\n    json: {\n      ok: false,\n      status: 400,\n      error: 'invalid_payload',\n      missing: [\n        !userId ? 'userId' : null,\n        !jobId ? 'jobId' : null,\n        !jobDescription ? 'jobDescription' : null,\n        !masterCvText ? 'masterCvText' : null\n      ].filter(Boolean)\n    }\n  }];\n}\n\ntry {\n  const scoringPrompt = [\n    'Return ONLY JSON:',\n    '{\"compatibility_score\":0-100,\"ats_keywords\":[],\"matching_strengths\":[],\"gaps\":[],\"recommendation\":\"apply|stretch|skip\"}',\n    'Job description:',\n    jobDescription.slice(0, 4000),\n    'Candidate CV:',\n    masterCvText.slice(0, 7000),\n    additionalContext ? ('Additional confirmed candidate context:\\\\n' + additionalContext.slice(0, 2500)) : ''\n  ].join('\\\\n');\n\n  let score = null;\n  const scoringPrimary = await anthropic({\n    model: 'claude-3-5-haiku-20241022',\n    max_tokens: 900,\n    temperature: 0,\n    messages: [{ role: 'user', content: scoringPrompt }]\n  }, { stage: 'score_primary', userId });\n  const scoringPrimaryText = scoringPrimary && scoringPrimary.content && scoringPrimary.content[0] ? scoringPrimary.content[0].text || '' : '';\n  score = parseJsonObject(scoringPrimaryText);\n\n  if (!score || typeof score !== 'object') {\n    const scoringFallback = await anthropic({\n      model: 'claude-sonnet-4-20250514',\n      max_tokens: 1300,\n      temperature: 0,\n      messages: [{ role: 'user', content: scoringPrompt }]\n    }, { stage: 'score_fallback_parse', userId });\n    const scoringFallbackText = scoringFallback && scoringFallback.content && scoringFallback.content[0] ? scoringFallback.content[0].text || '' : '';\n    score = parseJsonObject(scoringFallbackText);\n  }\n\n  if (!score || typeof score !== 'object') {\n    throw new Error('SCORING_PARSE_FAILURE');\n  }\n\n  const atsKeywords = Array.isArray(score.ats_keywords) ? score.ats_keywords.slice(0, 12) : [];\n\n  const tailorPrompt = [\n    'Return ONLY JSON:',\n    '{\"tailored_cv_markdown\":\"...\",\"motivation_letter_markdown\":\"...\"}',\n    'Never fabricate facts. Use only candidate-provided information.',\n    'ATS keywords:',\n    JSON.stringify(atsKeywords),\n    'Job title:',\n    jobTitle || 'Untitled Position',\n    'Company:',\n    company || 'Unknown Company',\n    'Job description:',\n    jobDescription.slice(0, 4000),\n    'Candidate CV:',\n    masterCvText.slice(0, 7000),\n    additionalContext ? ('Additional confirmed candidate context:\\\\n' + additionalContext.slice(0, 2500)) : ''\n  ].join('\\\\n');\n\n  let tailorResponse = null;\n  let repeated429 = false;\n  try {\n    tailorResponse = await anthropic({\n      model: 'claude-sonnet-4-20250514',\n      max_tokens: 2600,\n      temperature: 0.1,\n      messages: [{ role: 'user', content: tailorPrompt }]\n    }, { stage: 'tailor_primary', userId });\n  } catch (error) {\n    repeated429 = Boolean(error && error.repeated429);\n    if (!repeated429) throw error;\n  }\n\n  if (!tailorResponse && repeated429) {\n    tailorResponse = await anthropic({\n      model: 'claude-3-7-sonnet-20250219',\n      max_tokens: 2600,\n      temperature: 0.1,\n      messages: [{ role: 'user', content: tailorPrompt }]\n    }, { stage: 'tailor_fallback_429', userId });\n  }\n\n  const tailorText = tailorResponse && tailorResponse.content && tailorResponse.content[0] ? tailorResponse.content[0].text || '' : '';\n  const tailored = parseJsonObject(tailorText);\n  if (!tailored || typeof tailored !== 'object') {\n    throw new Error('TAILORING_PARSE_FAILURE');\n  }\n\n  const idempotencyKey = 'tailor_v3:' + userId + ':' + jobId;\n  await appWebhook(\n    'single_tailoring_complete',\n    {\n      userId,\n      jobId,\n      jobTitle: jobTitle || 'Untitled Position',\n      company: company || 'Unknown Company',\n      compatibilityScore: Number(score.compatibility_score || 0),\n      atsKeywords,\n      matchingStrengths: Array.isArray(score.matching_strengths) ? score.matching_strengths.slice(0, 6) : [],\n      gaps: Array.isArray(score.gaps) ? score.gaps.slice(0, 6) : [],\n      recommendation: String(score.recommendation || 'stretch'),\n      tailoredCvMarkdown: String(tailored.tailored_cv_markdown || ''),\n      coverLetterMarkdown: String(tailored.motivation_letter_markdown || '')\n    },\n    { 'x-idempotency-key': idempotencyKey },\n    { stage: 'persist_single_tailor', userId }\n  );\n\n  return [{ json: { ok: true, status: 200, runId, userId, jobId, idempotencyKey, persisted: true } }];\n} catch (error) {\n  const reasonCode = String(error && error.message ? error.message : 'SINGLE_TAILOR_V3_FAILED');\n  await emitWorkflowError('single_tailor_pipeline', reasonCode, { runId, userId, jobId, reasonCode }, userId);\n  return [{ json: { ok: false, status: 500, error: 'single_tailor_failed', reasonCode, runId, userId, jobId } }];\n}\n})();"
      }
    },
    {
      "id": "respond-v3",
      "name": "Respond v3",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ Number($json.status || 200) }}"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger v3": {
      "main": [
        [
          {
            "node": "Load Config Single v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Config Single v3": {
      "main": [
        [
          {
            "node": "Run Single Tailor v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Single Tailor v3": {
      "main": [
        [
          {
            "node": "Respond v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "pinData": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionCounter": 1,
  "activeVersion": null,
  "activeVersionId": null,
  "versionId": null,
  "id": null,
  "createdAt": null,
  "updatedAt": null,
  "isArchived": false,
  "description": "Additive v3 single-tailor workflow with strict webhook secret validation, retry/backoff, idempotent persistence, and structured workflow_error callbacks.",
  "shared": [],
  "meta": null
}
